.inputPassword {
    position: relative;
    display: inline-block;
    margin: 5px 0;

}

.superInput {
    padding: 12px;
    background: #F9F9FE;
    border: 1px solid #9f9f9f;
    border-radius: 4px;
    height: 56px;
    /*width: 100%;*/
    min-width: 220px;
    box-sizing: border-box;

}

.superInput:hover {
    border: 1px solid #010101;
}

.superInput::placeholder {
    font-size: 15px;
}

.superInput:focus {
    background: white;
    box-shadow: 0 0 5px #7f8ab0;
    outline: none;
}

.errorInput {
    border: 2px solid red;
}

.error {
    color: red;
}
.eyeButton {
    position: absolute;
    top: 6px;
    right: 12px;
    height: 100%;
    padding-top: 9px;
    cursor: pointer;
}

