
.img {
    background: url("../../../assets/images/email.png");
    background-size: cover;
    width: 80px;
    height: 80px;
    margin-top: 30px;
    padding: 5px;
}

.close {
    position: absolute;
    right: 40px;
    top: 40px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    background: url("../../../assets/icons/close.png");
    cursor: pointer;
}

/*.close:hover {*/
/*    opacity: 1;*/
/*}*/
