.cardBlock {
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 20px;
}

.question {
    display: flex;
    margin: 20px 0;
}

.question p{
    margin: 0 0 0 20px
}

.answer {
    display: flex;
    margin: 20px 0;
}

.answer p{
    margin: 0 0 0 20px
}

.gradeAndShots {
    display: flex;
    justify-content: center;
}

.grade, .shots {
    display: inline-block;
    font-weight: bold;
    margin: 10px;
}

.rateBlock {
    margin-bottom: 30px;
}

.rateBlock label {
    display: block;
    margin-bottom: 15px;
}

.rateBlock h4 {
    margin-bottom: 15px;
}

.buttonsBlock {
    display: flex;
    justify-content: center;
}

.buttonsBlock button {
    padding: 7px 15px;
    margin: 0 10px 0 10px;
}
